<?
function getAscioConfig () {
	$cfg = array(
		"test" => array (
			"user" 		=> "xxx",
			"pw"   		=> "xxx",
			"wsdl"   	=> "https://awstest.ascio.com/2012/01/01/AscioService.wsdl"), 
		"live" => array (
			"user" 		=> "xxx",
			"pw"   		=> "xxx",
			"wsdl"   	=> "https://aws.ascio.com/2012/01/01/AscioService.wsdl"), 	
		"whmcs" => array (
			"user" 		=> "xxx",
			"pw"  		=> "xxx",
			"api"		=> "http://localhost/whmcs/includes/api.php",
			"moduleUri"	=> "/var/www/whmcs/modules/registrars/ascio"),
		"testMode"   	=> "on"
	);
	return $cfg;
}
function getAscioCredentials () {
	$config = getAscioConfig();
	if($config["testMode"]=="on") {
		return array(
			'Username' => $config["test"]["user"],
			'Password' => $config["test"]["pw"],
			'testMode' => "on"
		);
	} else {
		return array(
			'Username' => $config["live"]["user"],
			'Password' => $config["live"]["pw"],
			'testMode' => "off"
		);
	}
}

function getWHMCSCredentials () {
	$config = getAscioConfig();
	return array (
		"username"	=>	$config["whmcs"]["user"],
		"password"	=>	md5($config["whmcs"]["pw"])

	);
}
function getAscioWsdl () {
	$config = getAscioConfig();
	if($config["testMode"]=="on") {
		return $config["test"]["wsdl"];
	} else {
		return $config["live"]["wsdl"];
	}
}
?>